// [font] Mulish

%mulish-light {
  font-family: "Mulish";
  font-weight: 300;
}
%mulish-regular {
  font-family: "Mulish";
  font-weight: 400;
}
%mulish-bold {
  font-family: "Mulish";
  font-weight: 700;
}
